body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f5dfc9 !important;
}

.sourcesCard {
  margin: 1em auto;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;

  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 6s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.sourcesCard:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}


/*.sourcesCard {
  box-shadow: 3px 3px 10px rgba(10, 10, 10, .5) !important;
  transition-duration: 1s !important;
}*/

/*.sourcesCard:hover {
  transform: rotate(360deg) !important;
}

.sourcesCard {
  box-shadow: 3px 3px 10px rgba(10, 10, 10, .5) !important;
}*/

.cardLabel:hover {
  cursor: not-allowed !important;
}

.sourcesCard:active {
   -moz-box-shadow:    inset 0 0 10px #000000 !important;
   -webkit-box-shadow: inset 0 0 10px #000000 !important;
   box-shadow:         inset 0 0 10px #000000 !important;
   filter: invert(.8);
}

.signup {
  text-align: center !important;
}

.articlesCard:hover {
  transform: scale(1.2);
  z-index: 1000 !important;
}

.articlesCard {
  box-shadow: 3px 3px 10px rgba(10, 10, 10, .5)!important;
}

.articleLink:hover {
  color: purple !important;
}



.dashboardHeader {
  font-family: 'Baloo Bhaijaan', cursive !important;
  text-align: center;
  font-size: 30px !important;
  text-align: center;
  vertical-align: middle !important;
  border-radius: 2em !important;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 20px;
  border: 3px solid !important;
  background-color: black !important;
  color: white;
  z-index: 999 !important;
  padding: .5em .5em !important;
}

.centered.row>.column:not(.aligned):not(.justified) {
  text-align: center !important;
}


@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

.login {
  font-size: x-large !important;
  margin-bottom: 8px !important;
}

.navTitle {
    font-family: 'Baloo Bhaijaan', cursive !important;
    font-size: large !important;
    background-color: black !important;
}

.socialHolder {
  text-align: center !important;
  font-family: 'Baloo Bhaijaan', cursive !important;
  font-size: x-large !important;
}

.socialGoogle {
  /*text-align: center !important;*/
  /*color: rgba(50, 89, 156) !important;*/
	/*height: 48px;
	width: 48px;
	margin: 10px;*/
	/*float: left;*/
	/*border-radius: 50%;*/
  /*box-shadow: 3px 3px 10px rgba(10, 10, 10, .5)!important;*/

	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

.socialFB {
  /*text-align: center !important;*/
  /*color: rgba(50, 89, 156) !important;*/
	/*height: 48px;
	width: 48px;
	margin: 10px;*/
	/*float: left;*/
	/*border-radius: 50%;*/
  /*box-shadow: 3px 3px 10px rgba(10, 10, 10, .5)!important;*/

	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

.socialFB:hover {
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
  z-index: 1000 !important;
}

.socialGoogle:hover {
	/*box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);*/
  /*border-radius: 50% !important;*/
  -webkit-transform:skew(30deg, 20deg);
  -moz-transform:skew(30deg, 20deg);
  -o-transform:skew(30deg, 20deg);
  -ms-transform:skew(30deg, 20deg);
  transform:skew(30deg, 20deg);
	/*-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);*/
  /*transform: scale(2);*/
  z-index: 1000 !important;
}

.facebookLogin {
  background-color: transparent !important;
  box-shadow: 0px 0px 0px 0px !important;
}

.google {
  background: transparent !important;
  width: 0px !important;

}



/*.sourcesCard {
  -webkit-transition: all 0.5s ease !important;
     -moz-transition: all 0.5s ease !important;
       -o-transition: all 0.5s ease !important;
      -ms-transition: all 0.5s ease !important;
          transition: all 0.5s ease !important;
}

.sourcesCard:hover {
  border-radius: 50% !important;
  -webkit-transform: rotate(360deg) !important;
     -moz-transform: rotate(360deg) !important;
       -o-transform: rotate(360deg) !important;
      -ms-transform: rotate(360deg) !important;
          transform: rotate(360deg) !important;
}*/
